{% extends 'base.html' %}
{% load static %}


{% block content %}

  <!-- ======= Hero Section ======= -->
  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="{% static 'img/solvent-solutions-hero-logo.png' %}" class="img-fluid"></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
          Commercial & Residential Disinfecting and Sanitization
        </h1>

        <p class="tagline">
          Proprietary systems formulated with an EPA registered Hydrogen Peroxide disinfectant
        </p>
        <a class="btn btn-full scrollto" href="#about">See Our Services</a>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img src="{% static 'img/solvent-solutions-hero-logo.png' %}" alt=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#about">About Us</a></li>
          <li><a href="#features">Services</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->

      <nav class="nav social-nav pull-right d-none d-lg-inline">
        <a href="https://www.instagram.com/solventsolutionsus/"><i class="fa fa-instagram"></i></a> <a href="https://www.facebook.com/SolventSolutionsUS"><i class="fa fa-facebook"></i></a><a href="mailto:service@solventsolutionsus.com"><i class="fa fa-envelope"></i></a>
        <a href="tel:2674160236"><i class="fas fa-phone-alt"></i></a>
      </nav>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">

      <div class="container text-center">
        <h2>
          About Solvent Solutions
        </h2>

        <p>
            In this evolving environment when sanitizing and disinfecting has become mandatory, we at Solvent Solutions are seeking to provide our clients with safer, more easily applied disinfecting solutions.  
        </p>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">67</span> Satisfied Customers
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">179</span> Properties Sanitized
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">1,463</span> Gallons of OxiThyme
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">8</span> Hard Workers
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Welcome Section ======= -->
    <section class="welcome text-center">
      <h2>Our Proprietary Product</h2>
      <p>
        We are excited to introduce a new highly effective product into the world of sanitizing and disinfecting.  OxiThyme is a proprietary system formulated with an EPA registered Hydrogen Peroxide 
        disinfectant developed with a surfactant, or surface-active agent, improving efficiency by lowering surface tension. The addition of a surfactant and the use of an Oxi-Thyme spraying system 
        allows the droplets of disinfectant to disperse evenly and cover larger surface areas, creating a no-touch solution to sanitizing large areas quickly and efficiently leaving no toxic residue.
      </p>
      <p>
        OxyThyme is applied utilizing a sprayer-misting system, which uses an HVLP (higher volume - lower pressure) to aerosolize and propel the OxiThyme Disinfectant.  This application process allows the 
        droplets of disinfectant to disperse more evenly and cover larger surface areas, creating a no-touch solution to sanitizing large areas quickly and efficiently.  
      </p>
    </section><!-- End Welcome Section -->

    <!-- ======= Features Section ======= -->
    <section class="features" id="features">

      <div class="container">
        <h2 class="text-center">
          Services
        </h2>

        <div class="row">
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fas fa-calendar-day"></span>
                </div>
              </div>

              <div>
                <h3>
                  Daily Sanitizer
                </h3>

                <p>
                  Applied via a dispensing mister sprayed across any surface intended to be sanitized, and dries quickly. 
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fas fa-hands-wash"></span>
                </div>
              </div>

              <div>
                <h3>
                  Hydating Hand Sanitzer
                </h3>

                <p>
                  Proprietary hands free dispensing station that is much gentler on skin because it is not alcohol or ethanol based, rather Hydrogen Peroxide based.
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fas fa-calendar-alt"></span>
                </div>
              </div>

              <div>
                <h3>
                  90 Day Sanitation
                </h3>

                <p>
                  More aggressive sanitizing agent which again is applied through a spray process.  It does require a short dry time, and is targeted to remain active for up to 90 days, however this time period may be shortened in high traffic areas.  
                </p>
              </div>
            </div>
          </div>
        </div>


      </div>

    </section><!-- End Features Section -->

    <!-- ======= Call to Action Section ======= -->
    <section class="cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-sm-12 text-lg-left text-center">
            <h2>
              Why Choose Us?
            </h2>

            <p>
              Unlike many competing products that require surfaces to be pre-wiped, then wipe on the product and return to wipe the surface dry again,  OxiThyme can be applied utilizing this no-touch method and ensuring more surface areas are treated.  
              OxiThyme dries in minutes, reducing down time needed to sanitize;  more importantly, reducing down time for clients and customers.  
            </p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center">
            <button class="btn btn-ghost js-estimate-request" data-url="{% url 'estimate_request' %}">Request a Quote</button>
          </div>
        </div>
      </div>
    </section><!-- End Call to Action Section -->

  
    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title">Contact Us</h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-4">
            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>Harleysville, PA 19438</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:service@solventsolutionsus.com">Service@SolventSolutionsUS.com</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p><a href="tel:2674160236">(267)416-0236</a></p>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-8">
            <div class="form">
              <form action="{% url 'contact_us_form' %}" method="post" role="form" class="php-email-form" id="contactUsForm">
              {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="id_name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="id_email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="id_subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" id="id_message" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


{% endblock content %}